<h2>Task Update Component</h2>
<p>Create your task update form below</p>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="taskId">Task Id to Update:</label>
    <input
      type="text"
      id="taskId"
      name="taskId"
      [(ngModel)]="taskId"
      required
    />
  </div>
  <span>Enter just the fields you would like to update</span>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="task.name" />
  </div>
  <div>
    <label for="description">Description:</label>
    <input
      type="text"
      id="description"
      name="description"
      [(ngModel)]="task.description"
    />
  </div>
  <div>
    <label for="due">Due Date:</label>
    <input type="date" id="due" name="due" [(ngModel)]="task.due" />
  </div>
  <div>
    <label for="complete">Complete:</label>
    <input
      type="checkbox"
      id="complete"
      name="complete"
      [(ngModel)]="task.complete"
    />
  </div>
  <button type="submit">Submit</button>
</form>
